@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --Text: #333;

  --Primary: #015c92;
  --Danger: #dc143c;
  --Secondary: #676f79;
}

* {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  height: 300vh;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
